@page
@model PrivacyModel
@{
    ViewData["Title"] = "Información";
}
<h1>@ViewData["Title"]</h1>

<p>Equipo:</p>
<p>Alexa Rebeca Santa Cruz Hurtado 21310419</p>
<p>Fernando Garibay Ceja 21310414</p>
<p>Joseph Iván Quintero Carrasco 21310417</p>
<p>Mario Jazael Ramirez Toscano 21310433</p>
<p>Desarrollo Software</p>
<p>4to Semestre</p>
<p>4M</p>


