@page
@model crudTortillas.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.name" class="control-label">Nombre de Usuario</label>
                <input asp-for="User.name" class="form-control" />
                <span asp-validation-for="User.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.email" class="control-label">Email</label>
                <input asp-for="User.email" class="form-control" />
                <span asp-validation-for="User.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <input type="submit" value="Crear Usuario" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br>

    <a asp-page="Index">Volver a la lista de usuarios</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
